/* Fondo blanco */
body, html {
    min-height: 100%;
    background-color: #ffffff;
    font-family: sans-serif, Arial;
}

/* Logo centrado */
.logo-container {
    text-align: center;
    margin-top: 30px;
}

.logo {
    max-width: 200px;
    margin-bottom: 10px;
}

.welcome-text {
    font-size: 20px;
    color: #333;
    font-weight: bold;
}

/* Estilo del botón */
.login-btn {
    display: block;
    width: 80%;
    padding: 15px;
    margin: 20px auto;
    background-color: #FF9F00; /* Color FerreTodo */
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}

.login-btn:hover {
    background-color: #e68900;
}

/* Responsive */
@media (max-width: 768px) {
    .login-btn {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .logo {
        max-width: 150px;
    }

    .welcome-text {
        font-size: 18px;
    }
}
